# Python cache files

**pycache**/
*.py[cod]
*$py.class

# Virtual environment

venv/
env/

# IDE settings

.vscode/
.idea/

# System files

.DS_Store
Thumbs.db

# Logs

*.log

# Build / distribution folders

dist/
build/
.eggs/
*.egg-info/
